.main-footer {
    position: relative;
    width: 100%;
    margin-top: 10rem;
    background-color: var(--footer-main-default-color, #222);
    color: var(--footer-main-text-defaulf-color, #fff);
}

.main-footer-footer {
    text-align: center;
    padding: 0.5rem;
    border-top: 1px solid var(--footer-main-text-defaulf-color, #fff);
}

.main-footer-body {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 200px;
}

.main-footer-body > .footer-info {
    padding: 1rem;
    width: 30rem;
}

.main-footer-body > .footer-info > h5 {
    margin: 0.5rem 0;
}

.main-footer-body > .footer-info > ul {
    list-style: none;
}