@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

@import url('message-box.css');
@import url('modal.css');
@import url('button.css');
@import url('main.css');
@import url('variables.css');
@import url('typography.css');
@import url('navigation.css');
@import url('footer.css');
@import url('index.css');
@import url('about.css');
@import url('skills.css');
@import url('certifiacation.css');

*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}