---
layout: main
title: Certification
permalink: /certification/
---

<section class="content-wrapper">
    <header class="certificates-header">
        <h2>Certification</h2>
    </header>
    <section class="cerficates-section certificate">
        {% for image in site.static_files %}
            {% if image.path contains 'images' and image.path contains 'cert'  %}
                <img src="{{ site.baseurl }}{{ image.path }}" onClick="toggleModal(this)" alt="image" />
            {% endif %}
        {% endfor %}
    </section>
</section>

{% include modal.html %}