<footer class="main-footer">
    <section>
        <section class="main-footer-body">
            <section class="footer-info">
                <i class="fas fa-map-marker-alt fa-3x"></i>
                <h5>Address</h5>
                <ul>
                    <li>Facebook</li>
                    <li>Github</li>
                    <li>LinkedIn</li>
                </ul>
            </section>
            <section class="footer-info">
                <i class="fas fa-at fa-3x"></i>
                <h5>Email</h5>
                <p>Email: georgimihalkov@abv.bg</p>
                <p>Phone: 0894355248</p>
            </section>
            <section class="footer-info">
                <i class="fas fa-phone fa-3x"></i>
                <h5>Phone</h5>
                <p>Email: georgimihalkov@abv.bg</p>
                <p>Phone: 0894355248</p>
            </section>
        </section>
        <footer class="main-footer-footer">
            All Rights Reserverd &copy; 2019-2019
        </footer>
    </section>
</footer>